In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action = 'ignore')

In [0]:
Raw_Housing_Data = pd.read_csv('Raw_Housing_Prices3.csv')

In [31]:
Raw_Housing_Data.head()

           ID  ... Lot Area after Renovation (in Sqft)
0  7129300520  ...                                5650
1  6414100192  ...                                7639
2  5631500400  ...                                8062
3  2487200875  ...                                5000
4  1954400510  ...                                7503

[5 rows x 21 columns]

In [32]:
Raw_Housing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
ID                                           21609 non-null int64
Date House was Sold                          21609 non-null object
Sale Price                                   21609 non-null float64
No of Bedrooms                               21609 non-null int64
No of Bathrooms                              21609 non-null float64
Flat Area (in Sqft)                          21609 non-null float64
Lot Area (in Sqft)                           21609 non-null float64
No of Floors                                 21609 non-null float64
Waterfront View                              21609 non-null object
No of Times Visited                          21609 non-null object
Condition of the House                       21609 non-null object
Overall Grade                                21609 non-null int64
Area of the House from Basement (in Sqft)    21609 non-null float64
Basement Area (in Sqft)                      21609 non-null int64
Age of House (in Years)                      21609 non-null int64
Renovated Year                               21609 non-null int64
Zipcode                                      21609 non-null float64
Latitude                                     21609 non-null float64
Longitude                                    21609 non-null float64
Living Area after Renovation (in Sqft)       21609 non-null float64
Lot Area after Renovation (in Sqft)          21609 non-null int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [0]:
Raw_Housing_Data['Zipcode'] = Raw_Housing_Data['Zipcode'].astype(object)

In [34]:
Raw_Housing_Data.dtypes

ID                                             int64
Date House was Sold                           object
Sale Price                                   float64
No of Bedrooms                                 int64
No of Bathrooms                              float64
Flat Area (in Sqft)                          float64
Lot Area (in Sqft)                           float64
No of Floors                                 float64
Waterfront View                               object
No of Times Visited                           object
Condition of the House                        object
Overall Grade                                  int64
Area of the House from Basement (in Sqft)    float64
Basement Area (in Sqft)                        int64
Age of House (in Years)                        int64
Renovated Year                                 int64
Zipcode                                       object
Latitude                                     float64
Longitude                                    float64
Living Area after Renovation (in Sqft)       float64
Lot Area after Renovation (in Sqft)            int64
dtype: object

In [35]:
Raw_Housing_Data['No of Times Visited'].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [0]:
mapping = {'None' : "0",
           'Once' : '1',
           'Twice' : '2',
           'Thrice' : '3',
           'Four' : '4'}

Raw_Housing_Data['No of Times Visited'] = Raw_Housing_Data['No of Times Visited'].map(mapping)

In [37]:
Raw_Housing_Data['No of Times Visited'].unique()

array(['0', '3', '4', '2', '1'], dtype=object)

In [0]:
Raw_Housing_Data['Ever Renovated'] = np.where(Raw_Housing_Data['Renovated Year'] == 0, 'No', 'Yes')

In [39]:
Raw_Housing_Data.head()

           ID  ... Ever Renovated
0  7129300520  ...             No
1  6414100192  ...            Yes
2  5631500400  ...             No
3  2487200875  ...             No
4  1954400510  ...             No

[5 rows x 22 columns]

In [0]:
Raw_Housing_Data['Purchase Year'] = pd.DatetimeIndex(Raw_Housing_Data['Date House was Sold']).year

In [0]:
Raw_Housing_Data['Years Since Renovation'] = np.where(Raw_Housing_Data['Ever Renovated'] == 'Yes',
                                                     abs(Raw_Housing_Data['Purchase Year'] - 
                                                        Raw_Housing_Data['Renovated Year']), 0)

In [42]:
Raw_Housing_Data.head()

           ID Date House was Sold  ...  Purchase Year  Years Since Renovation
0  7129300520     14 October 2017  ...           2017                       0
1  6414100192    14 December 2017  ...           2017                      26
2  5631500400    15 February 2016  ...           2016                       0
3  2487200875    14 December 2017  ...           2017                       0
4  1954400510    15 February 2016  ...           2016                       0

[5 rows x 24 columns]

In [0]:
Raw_Housing_Data.drop( columns = ['Purchase Year', 'Date House was Sold', 'Renovated Year'], inplace = True)

In [44]:
Raw_Housing_Data.head()

           ID  Sale Price  ...  Ever Renovated  Years Since Renovation
0  7129300520    221900.0  ...              No                       0
1  6414100192    538000.0  ...             Yes                      26
2  5631500400    180000.0  ...              No                       0
3  2487200875    604000.0  ...              No                       0
4  1954400510    510000.0  ...              No                       0

[5 rows x 21 columns]

In [0]:
Raw_Housing_Data.to_csv('Transformed_Housing_Data', index = False)